apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: elizabethdeleonlantean/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: DB_NAME
              value: "usuarios"
            - name: DB_USER
              value: "usuarios"
            - name: DB_PASSWORD
              value: "usuarios"
            - name: DB_HOST
              value: "usuarios.cxeeocrtzohx.us-east-1.rds.amazonaws.com"
            - name: DB_PORT
              value: "5432"
            - name: ALLOWED_HOSTS
              value: "*"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
